body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;

}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */

img {
  max-height: 20rem;
}

/***************** NAV *****************/

nav a:hover {
  color: black;
  text-decoration: underline;
}

nav a {
  color: white;
  text-decoration: none;
}

.active {
  color: #2a3b4e;
  font-weight: bold;
}

.icon {
  color: white;
}

.navigation {
  list-style: none;
  margin: 0;
  background: #3D7FCF;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 2rem;
  color: #3D7FCF;
  padding-left: .3em
}

h1 {
  display: inline-flex;
  color: #3D7FCF;
}

.logo-w {
  display: inline-flex;
  width: 100%;
  align-items: flex-end;
  color: #2D394C;
}


/**************** ASIDE MAILING LIST ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/**************** PRODUCTS SECTION ****************/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.main {
  padding: 1em;
}

.card {
  background: #ffffff;
  height: 100%;
  border: 1px solid #525d68;
  box-shadow: 3px 3px #EEF7FA;
}

.item {
  margin-bottom: 25px;
}

.section-title {
  text-align: center;
  color: #3D7FCF;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.sign-up {
  margin: .5em;
}

.img-fluid {
  padding: 1rem;
}

/**************** FOOTER ****************/

footer {
  font-size: 16px;
  background-color: #3D7FCF;
  padding: 20px;
  text-align: center;
}

.copyright {
  color: #f5f6f7;
}

/**************** MEDIA QUERIES ****************/

@media only screen and (min-width: 110px) and (max-width: 650px) {
  html {
    width: 100%;
    margin: 0;
  }

  div[class^="col-"] {
    width: 100%;
  }

  ul,
  nav {
    display: block;
    text-align: center;
    padding: 0;
  }
  h1 {
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
  }

  .box {
    width: 100%;
  }
  
  .card {
  background: #EEF7FA;
}

/**************** TRANSITIONS ****************/

.img-fluid:hover {
  transform: scale(1.1);
}

